ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor-primaria);
}

li {
    float: left;
}

li:first-child{
    margin-left: 25px;
}

li a {
    display: block;
    color: #fff;
    padding: 15px 8px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: var(--cor-secundaria);
}

li:last-child{
    float: right;
    margin-right: 25px;
}